{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 140,
  "proseWrap": "never",
  "jsxBracketSameLine": true,
  "jsxBrackets": true
}
