@import 'utils';

.blog-post-content {

  $lineHeight: 2.25rem;

  margin-bottom: 3rem;

  p {
    font-size: 1.25rem;
    font-weight: ($title-font-weight / 2) + 50;
    letter-spacing: -.025rem;
    line-height: $lineHeight;
  }

  ul {
    margin: 1.5rem 0;

    li {
      font-size: 1.25rem;
      font-weight: ($title-font-weight / 2) + 50;
      line-height: $lineHeight;
    }
  }

  strong {
    font-weight: 600;
  }

  h {
    &1 {
      // font-size: 4.5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-weight: $title-font-weight;
      letter-spacing: -.1rem;
    }

    &2 {
      // font-size: 4rem;
      margin-top: 1.5rem;
      margin-bottom: 1.75rem;
      font-weight: 500;
      letter-spacing: -.1rem;
    }

    &3 {
      // font-size: 3.2rem;
      margin-top: 1.25rem;
      margin-bottom: 2rem;
      font-weight: 500;
      letter-spacing: -.1rem;
    }

    &4 {
      // font-size: 2.6rem;
      margin-top: 1.15rem;
      margin-bottom: 2rem;
      font-weight: 500;
      letter-spacing: -.1rem;
    }

    &5 {
      // font-size: 2rem;
      margin-top: 1.1rem;
      margin-bottom: 2rem;
      font-weight: 500;
      letter-spacing: -.1rem;
    }
  }
}