@import 'utils';

$box-size: 150px;

.left-top-rectangle {
  width: $box-size;
  height: $box-size;
  background-color: $oc-violet-9;
  position: absolute;
  top: calc($box-size / 2) * -1;
  left: calc($box-size / 2) * -1;
  transform: rotate(45deg);
  // opacity: .8;
}

.right-bottom-rectangle {
  width: $box-size;
  height: $box-size;
  background-color: $oc-violet-9;
  position: absolute;
  bottom: calc($box-size / 2) * -1 + 100;
  right: calc($box-size / 2) * -1;
  transform: rotate(45deg);
  // opacity: .8;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex: 1;

    >div {
      height: 100%;
    }
  }
}

footer {
  display: block;
  background-color: $oc-gray-9;
  color: #FFF;
  height: 200px;
  margin-top: 3rem;

  .container,
  .row {
    height: 100%;
    align-items: center;
    text-align: center;

    .title {
      font-weight: bold;
      font-size: 1.5rem;
      opacity: .75;
    }

    .links {
      margin-top: 0.5rem;

      a {
        color: #FFF;
        color: #666;
        margin: 0 .5rem;
        font-size: .85rem;
      }
    }
  }
}