@import "utils";

#resume {
  .container {
    @include media(">tablet") {
      max-width: 800px;
    }
  }

  section {
    border-bottom: 1px solid $oc-gray-2;
    padding: 2.5rem 0;

    &:last-child {
      border-bottom: none;
    }
  }

  // h1 {}

  h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 4rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    letter-spacing: -0.05rem;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    letter-spacing: -0.025rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .text-lg {
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
  }

  .project {
    margin-bottom: 5rem;

    p {
      line-height: 1.25rem;
    }

    .description {
      margin-top: 1rem;
    }
  }

  #myProfile {
    margin: auto;
    display: table;

    // padding: 50px 0;
    text-align: center;

    small {
      color: #999;
    }

    .photo {
      > img {
        width: 175px;
        height: 175px;
        margin: auto;
        border-radius: 100%;
        display: block;
      }
      margin-bottom: 25px;
    }

    .en {
      // @extend .textsize-sm;
      font-weight: 100;
    }

    .kr {
      // @extend .textsize-xxg;
      font-weight: 500;
    }

    .sns {
      a {
        color: #666;
        margin: 0 0.5rem;
        font-size: 0.85rem;

        &:hover {
          color: #26a9e1;
        }
      }
    }
  }
}
