@import './utils';

html {
  font-size: 16px;

  @include media('<=tablet') {
    font-size: 14px;
  }
}

html,
body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', 'Source Sans Pro', Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, '돋움',
    Dotum, Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.badge {
  margin-right: 5px;
  font-size: 0.75rem;
  background-color: $oc-gray-7;
  color: #fff;
  text-transform: uppercase;

  &.badge {
    &-event {
      background-color: $oc-pink-7;
      // color: #000;
    }

    &-javascript {
      background-color: $oc-yellow-7;
      color: #fff;
    }

    // &-event {
    //   background-color: $oc-yellow-9;
    //   color: #FFF;
    // }
  }
}
