@import 'utils';

.jumbotron {
  background-color: transparent !important;
  // background-color: $oc-indigo-4 !important;
  border-radius: 0px !important;
  text-align: left;
  padding: 1rem 1rem !important;
  padding-bottom: 5vw !important;
  border-bottom: .5vw dashed #000;

  .title {
    font-size: 5.5vw;
    color: #000;
    // color: #FFF;
    text-align: left;
    font-weight: $title-font-weight;
    letter-spacing: -0.2vw;
  }

  .date {
    font-size: 2vw;
    color: #000;
    // color: #FFF;
    font-weight: 300;
    text-align: left;
  }
}