@import "utils";

nav {
  display: flex !important;

  @include media("<=tablet") {
    .profile {
      span {
        display: none;
      }
    }
  }

  a {
    color: black;
    text-decoration: none !important;
    height: 100px;
    line-height: 100px;
    padding: 0px !important;

    #navProfilePic {
      border-radius: 100%;
      margin-right: 1rem;
    }
  }

  .logo a {
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: -.075rem;

    @include media("<=tablet") {
      font-size: 1.75rem;
    }

  }
}